{{template "layout.html" .}}

{{define "title"}}Embedding Instructions{{end}}

{{define "content"}}
<p>
    There are two ways to embed a Guestbook into your site. The easiest way is
    using an <code>iframe</code>, but it doesn't allow you to personalize the
    style in any way. If you want more control then you can use JavaScript to
    create the guestbook form and populate the messages for you, but it's up to
    you to style the form.
</p>


<div class="embed-instructions">
    <h2>Embed with an iframe</h2>
    <p>Copy and paste the following code into your website's HTML to embed this guestbook form:</p>
    <pre>
&lt;iframe src="https://guestbooks.meadowing.club/guestbook/{{.Data.ID}}" width="300" height="500" frameborder="0">&lt;/iframe>
</pre>
</div>

<div class="embed-instructions">
    <h2>Embed with JavaScript</h2>
    <p>Copy and paste the following code into your website's HTML where you to embed this guestbook form:</p>
    <pre>
&lt;div id="guestbooks___guestbook-form-container">
    &lt;form id="guestbooks___guestbook-form" action="https://guestbooks.meadowing.club/guestbook/{{.Data.ID}}/submit" method="post">
        &lt;label for="name">Name:&lt;/label>
        &lt;input type="text" id="name" name="name" required>
        &lt;label for="text">Message:&lt;/label>
        &lt;textarea id="text" name="text" required>&lt;/textarea>
        &lt;label for="website">Website (optional):&lt;/label>
        &lt;input type="url" id="website" name="website">
        &lt;input type="submit" value="Submit">
    &lt;/form>
&lt;/div>     
&lt;div id="guestbooks___guestbook-messages-container">&lt;/div>  
&lt;script async src="https://guestbooks.meadowing.club/resources/js/embed_script/{{.Data.ID}}/script.js">&lt;/script> 
</pre>
</div>

{{end}}