{{template "layout.html" .}}

{{define "title"}}Password Reset Sent{{end}}

{{define "content"}}
<div class="auth-container">
    <div class="auth-card fade-in">
        <div class="auth-header">
            <div class="auth-icon success">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                </svg>
            </div>
            <h1>Check Your Email!</h1>
            <p class="text-muted">We've sent password reset instructions to your email address</p>
        </div>

        <div class="info-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
            </svg>
            <div>
                <h3>What happens next?</h3>
                <ul>
                    <li>Check your inbox for an email from Guestbooks</li>
                    <li>Click the secure link in the email</li>
                    <li>Create your new password</li>
                </ul>
            </div>
        </div>

        <div class="help-section">
            <h4>Didn't receive the email?</h4>
            <p class="text-small text-muted">
                Check your spam folder or <a href="/admin/forgot-password">request another reset link</a>
            </p>
        </div>

        <div class="auth-footer">
            <a href="/admin/signin" class="btn btn-primary btn-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
                Back to Sign In
            </a>
        </div>
    </div>
</div>

{{end}}
