{{template "layout.html" .}}

{{define "title"}}Password Reset Link Sent{{end}}

{{define "content"}}
<h1>Reset Link Sent</h1>
<p>If a verified account with that email address exists in our system, we've sent a password reset link to the email address you provided.</p>
<p>Please check your inbox (and spam folder) for an email with the subject "[Guestbooks] Password Reset Request".</p>
<p>The link in the email will expire in 24 hours.</p>

<div>
    <a href="/admin/signin">Return to Sign In</a>
</div>
{{end}}