<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💌</text></svg>">
    <title>Guestbook - {{.WebsiteURL}}</title>
</head>

<body>
    <div class="container">

        <main>
            <h1>Guestbook for {{.WebsiteURL}}</h1>

            <form action="/guestbook/{{.ID}}/submit" method="post">
                <input placeholder="Name" type="text" id="name" name="name" required>
                <input placeholder="Website (optional)" type="url" id="website" name="website">
                <br />
                <textarea placeholder="Message..." id="text" name="text" style="width: 100%;" required></textarea>
                <br />
                <input type="submit" value="Submit">
            </form>

            <h2>Messages</h2>
            {{if .Messages}}
            {{range .Messages}}
            <p>
                <strong>
                    <!-- <p><b><a href="https://meadowing.club">something</a></b></p> -->
                    {{if .Website}}
                    <a href="{{.Website}}" target="_blank" rel="noopener noreferrer">{{.Name}}</a>
                    {{else}}
                    {{.Name}}
                    {{end}}
                </strong> - <small>{{.CreatedAt | formatDate}}</small>
            </p>
            <blockquote>{{.Text}}</blockquote>
            {{end}}
            {{else}}
            <p>No messages yet. Be the first to leave a message!</p>
            {{end}}
        </main>
    </div>
</body>

</html>